{% extends "index.html" %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'ajax_datatable/css/style.css' %}" />
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Счетчики</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="active">Счетчики</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'admin:counters_add' %}">Добавить показание</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <form method="post" class="p-2">
              {% csrf_token %}
              <table class="table table-bordered table-hover table-striped linkedRow">
                <thead>
                  <tr>
                    <th>
                      <label>{{ filter_form.house.label_tag }}</label>
                    </th>
                    <th>
                      <label>{{ filter_form.section.label_tag }}</label>
                    </th>
                    <th>
                      <label>{{ filter_form.apartment_number.label_tag }}</label>
                    </th>
                    <th>
                      <label>{{ filter_form.service.label_tag }}</label>
                    </th>
                    <th>
                      <label>{{ filter_form.meter_reading.label_tag }}</label>
                    </th>
                    <th>
                      <label>{{ filter_form.service_unit.label_tag }}</label>
                    </th>
                    <th>
                      <div class="box-tools">
                        <a href="{% url 'admin:counters_list' %}" class="btn btn-default btn-sm">
                          <span class="hidden-xs">Очистить</span>
                          <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                      </div>
                    </th>
                  </tr>
                  <tr class="filters">
                    <td>{{ filter_form.house }}</td>
                    <td>{{ filter_form.section }}</td>
                    <td>{{ filter_form.apartment_number }}</td>
                    <td>{{ filter_form.service }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
              </table>
            </form>
            <div class="box-body table-responsive no-padding">
              <table id="counter-table"
                     class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Дом</th>
                    <th>Секция</th>
                    <th>№ квартиры</th>
                    <th>Счетчик</th>
                    <th>Показания</th>
                    <th>Ед. изм.</th>
                    <th>Действия</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'ajax_datatable/js/utils.js' %}"></script>
  <script type="text/javascript">
    $('#counter-table').DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "{% url 'admin:counter_ajax' %}",
        type: "POST",
        data: function(d) {
          d.house = $('#id_house').val();
          d.section = $('#id_section').val();
          d.apartment_number = $('#id_apartment_number').val();
          d.service = $('#id_service').val();
          d.meter_reading = $('#id_meter_reading').val();
          d.service_unit = $('#id_service_unit').val();
          d.csrfmiddlewaretoken = '{{ csrf_token }}';
        }
      },
      columns: [{
        data: "house"
      }, {
        data: "section"
      }, {
        data: "apartment_number"
      }, {
        data: "service"
      }, {
        data: "meter_reading"
      }, {
        data: "service_unit"
      }, {
        data: "actions",
        orderable: false,
        searchable: false
      }],
      createdRow: function(row, data) {
        if (data.apartment_id) $(row).attr('data-apartment-id', data.apartment_id);
        $(row).attr('id', 'row_' + data.id);
      },
      lengthMenu: [
        [50, 100, 200],
        [50, 100, 200]
      ],
      order: [
        [2, "desc"]
      ],
      responsive: true,
      searching: false,
      lengthChange: false
    });

    $(document).ready(function() {
      $("#id_house").change(function() {
        let house_id = $(this).val();
        let sectionSelect = $("#id_section");
        sectionSelect.empty();
        sectionSelect.append($('<option>', {
          value: "",
          text: "Все секции"
        }));

        if (house_id) {
          $.get("{% url 'admin:get_sections_by_house' %}", {
            house_id: house_id
          }, function(data) {
            $.each(data, function(i, item) {
              sectionSelect.append($('<option>', {
                value: item.id,
                text: item.name
              }));
            });
          });
        }
      });

      $('#counter-table tbody').on('click', 'tr', function() {
        const apartmentId = $(this).data('apartment-id');
        if (apartmentId) {
          window.location.href = `/admin/counters/counters/${apartmentId}/`;
        }
      });
    });
  </script>
{% endblock content %}
