{% extends "index.html" %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Новая заявка</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'admin:master_request_list' %}">Вызов мастера</a>
        </li>
        <li class="active">Новая заявка</li>
      </ul>
    </section>
    <section class="content">
      <form id="w0" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
              <div class="form-group field-masterrequest-date_request">
                <div id="masterrequest-date_request-kvdate" class="input-group date">
                  {{ form.date }}
                  {{ form.date.errors }}
                </div>
              </div>
              <span class="label-mid">от</span>
              <div class="form-group field-masterrequest-time_request has-success">
                <div class="input-group bootstrap-timepicker">
                  {{ form.time }}
                  {{ form.time.errors }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="user_id">Владелец квартиры</label>
                  {{ form.user }}
                  {{ form.user.errors }}
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group field-masterrequest-description required">
                  <label for="masterrequest-description">Описание</label>
                  {{ form.summary }}
                  {{ form.summary.errors }}
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="id_apartment">Квартира</label>
                  {{ form.apartment }}
                  {{ form.apartment.errors }}
                </div>
                <div class="form-group">
                  <label for="id_role">Тип мастера</label>
                  {{ form.role }}
                  {{ form.role.errors }}
                </div>
                <div class="form-group">
                  <label for="id_status">Статус заявки</label>
                  {{ form.status }}
                  {{ form.status.errors }}
                </div>
                <div class="form-group">
                  <label for="id_worker">Мастер</label>
                  {{ form.worker }}
                  {{ form.worker.errors }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-body">
            <div class="form-group">
              <label for="masterrequest-comment">Комментарий</label>
              {{ form.comment }}
              {{ form.comment.errors }}
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-default" href="{% url 'admin:ticket' %}">Отмена</a>
                <button type="submit" class="btn btn-success pull-right">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  <script>
    $(document).ready(function() {
      $("#id_user").change(function() {
        let userId = $(this).val();
        if (!userId) {
          $("#id_apartment").html('<option value="">Выберите квартиру</option>');
          return;
        }

        $.ajax({
          url: "{% url 'admin:get_user_apartments' %}",
          data: {
            user_id: userId
          },
          success: function(data) {
            let options = '<option value="">Выберите квартиру</option>';
            data.apartments.forEach(function(apt) {
              options += `<option value="${apt.id}">${apt.title}</option>`;
            });
            $("#id_apartment").html(options);
          }
        });
      });

      $("#id_apartment, #id_role").change(function() {
        let apartmentId = $("#id_apartment").val();
        let roleId = $("#id_role").val();

        if (!apartmentId) {
          $("#id_worker").html('<option value="">Выберите мастера</option>');
          return;
        }

        $.ajax({
          url: "{% url 'admin:get_house_workers' %}",
          data: {
            apartment_id: apartmentId,
            role_id: roleId
          },
          success: function(data) {
            let options = '<option value="">Выберите мастера</option>';
            data.workers.forEach(function(w) {
              options += `<option value="${w.id}">${w.name}</option>`;
            });
            $("#id_worker").html(options);
          }
        });
      });
    });
  </script>
{% endblock content %}
