{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Профиль владельца</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:home' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'cabinet' %}">Владельцы квартир</a>
        </li>
        <li class="active">Профиль владельца</li>
      </ul>
    </section>

    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <div class="box-tools">
            <a href="{% url 'profil' card_user.pk %}"
               target="_blank"
               class="btn btn-default btn-sm">
              <i class="fa fa-external-link"></i> Перейти в кабинет
            </a>
            <a href="{% url 'admin:owner_update' card_user.pk %}"
               class="btn btn-primary btn-sm">
              <span class="hidden-xs">Редактировать профиль</span>
              <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="box-body">
          <div class="row">
            <div class="col-xs-12">
              <!-- Аватар пользователя -->
              <div class="userAvatar text-center mb-3">
                {% if card_user.image and card_user.image.name %}
                  <img class="profile-user-img img-responsive img-circle"
                       src="{{ card_user.image.url }}?w=160&h=160&fit=crop"
                       alt="Аватар владельца" />
                {% else %}
                  <img class="profile-user-img img-responsive img-circle"
                       src="https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2FUser%2F2%2Favatar.jpg&w=160&h=160&fit=crop"
                       alt="Аватар владельца" />
                {% endif %}
              </div>

              <!-- Таблица с данными пользователя -->
              <div class="table-responsive no-padding">
                <table class="table table-bordered table-striped table-view">
                  <tbody>
                    <tr>
                      <td>Статус</td>
                      <td><small class="label label-danger">{{ card_user.status }}</small></td>
                    </tr>
                    <tr>
                      <td>ID</td>
                      <td>{{ card_user.user_id }}</td>
                    </tr>
                    <tr>
                      <td>Фамилия</td>
                      <td>{{ card_user.last_name }}</td>
                    </tr>
                    <tr>
                      <td>Имя</td>
                      <td>{{ card_user.first_name }}</td>
                    </tr>
                    <tr>
                      <td>Отчество</td>
                      <td>{{ card_user.second_name }}</td>
                    </tr>
                    <tr>
                      <td>Дата рождения</td>
                      <td>{{ card_user.date_birthday }}</td>
                    </tr>
                    <tr>
                      <td>О владельце (заметки)</td>
                      <td>{{ card_user.description }}</td>
                    </tr>
                    <tr>
                      <td>Телефон</td>
                      <td>{{ card_user.phone }}</td>
                    </tr>
                    <tr>
                      <td>Viber</td>
                      <td>{{ card_user.viber }}</td>
                    </tr>
                    <tr>
                      <td>Telegram</td>
                      <td>{{ card_user.telegram }}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>{{ card_user.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Квартиры -->
              <h4>Квартиры</h4>
              <div class="table-responsive no-padding mt-3">
                {% for apartment in apartments %}
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Дом</th>
                        <th>Секция</th>
                        <th>Квартира</th>
                        <th>Лицевой счет</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          <a href="{% url 'admin:house_card' apartment.house.id %}">{{ apartment.house.title }}</a>
                        </td>
                        <td>{{ apartment.section.name }}</td>
                        <td>
                          <a href="{% url 'admin:card_flat' apartment.id %}">{{ apartment.apartment_number }}</a>
                        </td>
                        <td>
                          {% if apartment.account %}
                            <a href="{% url 'admin:card' apartment.account.id %}">{{ apartment.account.account_number }}</a>
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
