{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper content-wrapper-min-height">
    <section class="content-header">
      <h1>Квартиры</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="active">Квартиры</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'admin:add_flat' %}">Добавить квартиру</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <div class="box-tools">
                <a href="{% url 'admin:flat' %}" class="btn btn-default btn-sm">
                  <span class="hidden-xs">Очистить</span>
                  <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="box-body">
              <form method="get" class="p-2">
                {% csrf_token %}
                <table class="table table-bordered table-hover table-striped linkedRow">
                  <thead>
                    <tr>
                      <th>{{ filter_form.apartment_number.label_tag }}</th>
                      <th>{{ filter_form.house.label_tag }}</th>
                      <th>{{ filter_form.section.label_tag }}</th>
                      <th>{{ filter_form.floor.label_tag }}</th>
                      <th>{{ filter_form.user.label_tag }}</th>
                      <th>{{ filter_form.balance.label_tag }}</th>
                      <th>Действия</th>
                    </tr>
                    <tr class="filters">
                      <td>{{ filter_form.apartment_number }}</td>
                      <td>{{ filter_form.house }}</td>
                      <td>{{ filter_form.section }}</td>
                      <td>{{ filter_form.floor }}</td>
                      <td>{{ filter_form.user }}</td>
                      <td>{{ filter_form.balance }}</td>
                      <td>
                        <button type="submit" class="btn btn-primary btn-sm">Поиск</button>
                      </td>
                    </tr>
                  </thead>
                </table>
              </form>
              <table id="flats-table"
                     class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>№ квартиры</th>
                    <th>Дом</th>
                    <th>Секция</th>
                    <th>Этаж</th>
                    <th>Владелец</th>
                    <th>Остаток (грн)</th>
                    <th>Действия</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'ajax_datatable/js/utils.js' %}"></script>
  <script>
    $(document).ready(function() {
      const flatsTable = $('#flats-table').DataTable({
        processing: true,
        serverSide: true,
        autoWidth: false,
        searching: false,
        lengthChange: false,
        pageLength: 50,
        ajax: {
          url: "{% url 'admin:flath_ajax' %}",
          type: "POST",
          data: function(d) {
            d.csrfmiddlewaretoken = '{{ csrf_token }}';
            d.extra_data = {
              apartment_number: $('#id_apartment_number').val(),
              house: $('#id_house').val(),
              section: $('#id_section').val(),
              floor: $('#id_floor').val(),
              user: $('#id_user').val(),
              balance: $('#id_balance').val(),
            };
          },
          dataSrc: function(json) {
            return json.data;
          }
        },
        columns: [{
          data: "apartment_number"
        }, {
          data: "house"
        }, {
          data: "section"
        }, {
          data: "floor"
        }, {
          data: "user"
        }, {
          data: "balance"
        }, {
          data: "actions",
          orderable: false,
          searchable: false,
          className: "text-end"
        }],
        order: [
          [0, "asc"]
        ]
      });

      $('form').on('submit', function(e) {
        e.preventDefault();
        flatsTable.ajax.reload();
      });

      $('#id_apartment_number, #id_house, #id_section, #id_floor, #id_user, #id_balance')
        .on('change keyup', function() {
          flatsTable.ajax.reload();
        });

      $('#flats-table tbody').on('click', 'tr', function() {
        const data = flatsTable.row(this).data();
        if (data && data.id) {
          window.location.href = `/admin/card_flat/${data.id}/`;
        }
      });
    });
  </script>
{% endblock content %}
