{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Сообщения</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="active">Сообщения</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'admin:send_message' %}">Отправить сообщение</a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-body no-padding">
          <form method="post" action="{% url 'admin:message_delete_many' %}">
            {% csrf_token %}
            <div id="w0" class="grid-view">
              <div class="mailbox-controls">
                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                  <i class="fa fa-square-o"></i>
                </button>
                <button type="submit"
                        class="btn btn-default btn-sm delete-many"
                        onclick="return confirm('Вы уверены, что хотите удалить выбранные сообщения?');">
                  <i class="fa fa-trash-o"></i> Удалить
                </button>
                <div class="pull-right"></div>
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped linkedRow">
                  <tbody>
                    {% for m in messages_data %}
                      <tr data-href="{% url 'admin:message_detail' pk=m.id %}"
                          data-key="{{ m.id }}">
                        <td>
                          <input type="checkbox" name="selection" value="{{ m.id }}" />
                        </td>
                        <td>
                          <a href="{% url 'admin:message_detail' pk=m.id %}">{{ m.recipients_display }}</a>
                        </td>
                        <td>
                          <b>{{ m.title }}</b> - {{ m.text|truncatechars:100|safe }}
                        </td>
                        <td>{{ m.created_at|date:"d.m.Y - H:i" }}</td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="4" class="text-center">Сообщений нет</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="mailbox-controls"></div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <script src="{% static 'admin/plugins/iCheck/icheck.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      // --- Инициализация iCheck ---
      var messageCheckboxes = $('.table-responsive input[type="checkbox"]');
      messageCheckboxes.iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass: 'iradio_flat-blue'
      });

      messageCheckboxes.on('ifChecked', function() {
        $(this).closest('tr').addClass('active');
      }).on('ifUnchecked', function() {
        $(this).closest('tr').removeClass('active');
      });

      // --- Логика "Выбрать все" ---
      var checkboxToggle = $('.checkbox-toggle');

      checkboxToggle.click(function(e) {
        e.preventDefault();
        var checkboxes = $('.mailbox-messages input[type="checkbox"]');
        var allChecked = checkboxes.filter(':checked').length === checkboxes.length;

        if (allChecked) {
          checkboxes.iCheck('uncheck');
          $(this).find('i').removeClass('fa-check-square-o').addClass('fa-square-o');
        } else {
          checkboxes.iCheck('check');
          $(this).find('i').removeClass('fa-square-o').addClass('fa-check-square-o');
        }
      });

      // --- Кликабельные строки (без конфликтов с чекбоксами) ---
      $('.linkedRow tr').on('click', function(e) {
        if ($(e.target).is('input[type="checkbox"]') || $(e.target).hasClass('iCheck-helper')) {
          e.stopPropagation();
          return;
        }
        window.location = $(this).data('href');
      });

      $(document).on('click', '.table-responsive input[type="checkbox"], .iCheck-helper', function(e) {
        e.stopPropagation();
      });
    });
  </script>
{% endblock content %}
