{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Квитанция</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'admin:invoice' %}">Квитанции</a>
        </li>
        <li class="active">Квитанция № {{ invoice.invoice_number }}</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
          <div class="page-header-spec">
            <div class="form-group">
              <div class="input-group date">
                <div class="input-group-addon">№</div>
                <div class="form-control pull-right">{{ invoice.invoice_number }}</div>
              </div>
            </div>
            <span class="label-mid">от</span>
            <div class="form-group">
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="form-control pull-right">{{ invoice.date }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Просмотр квитанции</h3>
          <div class="box-tools">
            <a href="{% url 'admin:template_list' invoice_id=invoice.id %}"
               class="btn btn-default btn-sm">
              <span class="hidden-xs">Печать</span>
              <i class="fa fa-print visible-xs" aria-hidden="true"></i>
            </a>
            <a href="{% url 'admin:template_list' invoice_id=invoice.id %}"
               class="btn btn-default btn-sm">
              <span class="hidden-xs">Отправить на e-mail</span>
              <i class="fa fa-envelope-o visible-xs" aria-hidden="true"></i>
            </a>
            <a href="{% url 'admin:invoice_update' invoice.id %}"
               class="btn btn-primary btn-sm">
              <span class="hidden-xs">Редактировать квитанцию</span>
              <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-view">
            <tbody>
              <tr>
                <td>Проведена</td>
                <td>
                  <small class="label label-success">
                    {% if invoice.conducted %}
                      Проведена
                    {% else %}
                      Не проведена
                    {% endif %}
                  </small>
                </td>
              </tr>
              <tr>
                <td>Статус</td>
                <td>
                  <small class="label label-success">{{ invoice.get_status_display }}</small>
                </td>
              </tr>
              <tr>
                <td>Период</td>
                <td>{{ invoice.start_date|date:"d.m.Y" }} - {{ invoice.end_date|date:"d.m.Y" }}</td>
              </tr>
              <tr>
                <td>Владелец</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.user %}
                    <a href="{% url 'admin:card_user' invoice.personal_account.user.id %}">
                      {{ invoice.personal_account.user.full_name }}
                    </a>
                  {% else %}
                    <span class="text-muted">Лицевой счёт или владелец не назначен</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Лицевой счёт</td>
                <td>
                  {% if invoice.personal_account %}
                    <a href="{% url 'admin:card' invoice.personal_account.id %}">{{ invoice.personal_account.account_number }}</a>
                  {% else %}
                    <span class="text-muted">Не назначен</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Телефон</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.user and invoice.personal_account.user.phone %}
                    {{ invoice.personal_account.user.phone }}
                  {% else %}
                    -
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Дом</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.apartment and invoice.personal_account.apartment.house %}
                    <a href="{% url 'admin:house_card' invoice.personal_account.apartment.house.id %}">
                      {{ invoice.personal_account.apartment.house.title }}
                    </a>
                  {% else %}
                    <span class="text-muted">Не назначен</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Квартира</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.apartment %}
                    <a href="{% url 'admin:card_flat' invoice.personal_account.apartment.id %}">
                      {{ invoice.personal_account.apartment.apartment_number }}
                    </a>
                  {% else %}
                    <span class="text-muted">Не назначена</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Секция</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.apartment and invoice.personal_account.apartment.section %}
                    {{ invoice.personal_account.apartment.section.name }}
                  {% else %}
                    <span class="text-muted">Не назначена</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Тариф</td>
                <td>
                  {% if invoice.personal_account and invoice.personal_account.apartment and invoice.personal_account.apartment.tariff %}
                    <a href="{% url 'admin:card_tariff' invoice.personal_account.apartment.tariff.id %}">
                      {{ invoice.personal_account.apartment.tariff.title }}
                    </a>
                  {% else %}
                    <span class="text-muted">Не назначен</span>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-responsive no-padding margin-top-15">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="min-width-40">#</th>
                  <th>Услуга</th>
                  <th>Количество потребления (расход)</th>
                  <th class="min-width-80">Ед. изм.</th>
                  <th>Цена за ед., грн</th>
                  <th>Стоимость, грн</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="5"></td>
                  <td>
                    <b>Итого: {{ total_sum }}</b>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                {% for item in items %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.tariff_service.service.name }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.tariff_service.unit.name }}</td>
                    <td>{{ item.tariff_service.price }}</td>
                    <td>{{ item.total }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
