{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Новая квитанция</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'admin:invoice' %}">Квитанции</a>
        </li>
        <li class="active">Новая квитанция</li>
      </ul>
    </section>
    <section class="content">
      <div class="invoice-create">
        <form id="invoice-form" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">
              <div class="page-header-spec">
                <div class="form-group field-invoice-uid required">
                  <div class="input-group">
                    <div class="input-group-addon">№</div>
                    {{ form.invoice_number }}
                  </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group field-invoice-uid_date">
                  <div class="input-group date" id="invoice-uid_date-kvdate">
                    <span class="input-group-addon kv-date-calendar" title="Выбрать дату">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    {{ form.date }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-6">
              <div class="btn-group pull-right margin-bottom">
                <button type="button"
                        class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown">
                  Выберите действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#!" class="set-tariff-services">Выставить все услуги согласно тарифу</a>
                  </li>
                  <li>
                    <a href="#!" class="add-counters">Добавить показания счетчиков</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-body">
              <input type="hidden" id="invoice-id" name="Invoice[id]" />
              <!-- Таблица услуг -->
              <div class="table-responsive no-padding">
                {{ formset.management_form }}
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="min-width-200">Услуга</th>
                      <th class="min-width-180">Расход</th>
                      <th class="min-width-120">Ед. изм.</th>
                      <th class="min-width-180">Цена за ед., грн.</th>
                      <th class="min-width-180">Стоимость, грн.</th>
                      <th class="min-width-40"></th>
                    </tr>
                  </thead>
                  <tbody id="form-invoiceservice-rows">
                    {% for form in formset %}
                      {{ form.id }}
                      <tr>
                        <td>{{ form.tariff_service }}</td>
                        <td>{{ form.count }}</td>
                        <td>{{ form.unit }}</td>
                        <td>{{ form.price }}</td>
                        <td>{{ form.total }}</td>
                        <td>
                          {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    <!-- Шаблон новой строки -->
                    <tr id="items-empty_form" class="d-none">
                      <td>{{ formset.empty_form.tariff_service }}</td>
                      <td>{{ formset.empty_form.count }}</td>
                      <td>{{ formset.empty_form.unit }}</td>
                      <td>{{ formset.empty_form.price }}</td>
                      <td>{{ formset.empty_form.total }}</td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <button type="button" class="btn btn-default form-row-add-invoiceservice-btn">Добавить услугу</button>
                        <button type="button" class="btn btn-default set-tariff-services">Установить все услуги согласно тарифу</button>
                        <button type="button" class="btn btn-default add-counters">Добавить показания счетчиков</button>
                      </td>
                      <td class="min-width-180">
                        <div class="h4">
                          Итого: <b><span id="price-total">0.00</span></b> грн
                        </div>
                      </td>
                      <td class="min-width-40"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="{% url 'admin:invoice' %}" class="btn btn-default">Отменить</a>
                  <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  {{ form.media }}
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'ajax_datatable/js/utils.js' %}"></script>
  <script src="{% static 'admin/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock content %}
