{% extends "index.html" %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-wysihtml5.css' %}" />
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Редактирование страницы</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:home' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="active">Редактирование страницы</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Редактирование страницы "Контакты"</h3>
            </div>
            <div class="box-body">
              <form id="w0" method="post">
                {% csrf_token %}
                {{ contact_form.media }}
                <div class="row">
                  <div class="col-xs-12 col-md-8">
                    <h3 class="page-header">Контактная информация</h3>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.title.id_for_label }}">Заголовок</label>
                      {{ contact_form.title }}
                    </div>
                    <div class="form-group">
                      <label class="control-label"
                             for="{{ contact_form.description.id_for_label }}">Краткий текст</label>
                      {{ contact_form.description }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.url.id_for_label }}">Ссылка на коммерческий сайт</label>
                      {{ contact_form.url }}
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <h3 class="page-header">Контакты</h3>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.full_name.id_for_label }}">ФИО</label>
                      {{ contact_form.full_name }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.location.id_for_label }}">Локация</label>
                      {{ contact_form.location }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.address.id_for_label }}">Адрес</label>
                      {{ contact_form.address }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.phone.id_for_label }}">Телефон</label>
                      {{ contact_form.phone }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.email.id_for_label }}">E-mail</label>
                      {{ contact_form.email }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="page-header">Карта</h3>
                    <div class="form-group">
                      <label class="control-label" for="{{ contact_form.map.id_for_label }}">Код карты</label>
                      {{ contact_form.map }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="page-header">Настройки SEO</h3>
                    <div class="form-group">
                      <label class="control-label" for="{{ seo_form.title.id_for_label }}">Title</label>
                      {{ seo_form.title }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ seo_form.description.id_for_label }}">Description</label>
                      {{ seo_form.description }}
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="{{ seo_form.keyword.id_for_label }}">Keywords</label>
                      {{ seo_form.keyword }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="form-group">
                      <a href="{% url 'admin:contact' %}" class="btn btn-default">Отменить</a>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="{% static 'js/bootstrap-wysihtml5.js' %}"></script>
  <script src="{% static 'js/bootstrap-wysihtml5.ru-RU.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('#{{ contact_form.description.id_for_label }}').wysihtml5({
        toolbar: {
          "font-styles": true,
          "emphasis": true,
          "lists": true,
          "html": true,
          "link": true,
          "image": true,
          "color": true
        },
        locale: 'ru-RU'
      });
    });
  </script>
{% endblock content %}
