{% extends 'main.html' %}

{% load static %}

{% block content %}
  <div class="content-wrapper content-wrapper-min-height">
    <section class="content-header">
      <h1>Профиль</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'cabinet:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="active">Профиль</li>
      </ul>
    </section>
    <section class="content">
      <div class="row">
        {% include 'card_profile/user_card.html' %}
        {% include 'card_profile/about_house.html' %}
      </div>
    </section>
  </div>
{% endblock content %}
