{% extends "index.html" %}

{% load static %}

<style>
  .content-minheight {
    min-height: 876px;
  }

  .largeImg {
    width: 100%;
    height: auto;
  }

  .smallImg {
    width: 100%;
    height: auto;
  }

  .margin-bottom-30 {
    margin-bottom: 30px;
  }
</style>
{% block content %}
  <div class="content-wrapper content-minheight">
    <section class="content-header">
      <h1>ЖК "Королевские сады"</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'admin:dashboard' %}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'admin:house_index' %}">Дома</a>
        </li>
        <li class="active">{{ house.title }}</li>
      </ul>
    </section>
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <div class="box-tools">
            <a href="{% url 'admin:update_house' house.id %}"
               class="btn btn-primary btn-sm">
              <span class="hidden-xs">Редактировать дом</span>
              <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12 col-lg-4">
              <table class="table table-bordered table-striped table-view">
                <tbody>
                  <tr>
                    <td>Название</td>
                    <td>{{ house.title }}</td>
                  </tr>
                  <tr>
                    <td>Адрес</td>
                    <td>{{ house.address }}</td>
                  </tr>
                  <tr>
                    <td>Секций</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Этажей</td>
                    <td>{{ num_floors }}</td>
                  </tr>
                  <tr>
                    <td>Пользователи</td>
                    <td>
                      {% if staff_list %}
                        {% for staff in staff_list %}<p class="no-margin">{{ staff.user.get_full_name }} ({{ staff.role }})</p>{% endfor %}
                      {% else %}
                        <p class="no-margin">Нет сотрудников</p>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-lg-8">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  {% if house.image1 %}
                    <img class="img-responsive largeImg margin-bottom-30"
                         src="{{ house.image1.url }}?w=522&h=350&fit=crop"
                         alt="Аватар" />
                  {% else %}
                    <img class="img-responsive largeImg margin-bottom-30"
                         src="{% static 'img.png' %}?w=522&h=350&fit=crop"
                         alt="Аватар" />
                  {% endif %}
                </div>
                {% for i in 2|to:5 %}
                  <div class="col-xs-6 col-md-3">
                    {% with image=house|get_image:i %}
                      {% if image %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{{ image.url }}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    {% endwith %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
