{% extends "index.html" %}

{% load static %}

{% block content %}
  <div class="content-wrapper" style="min-height: 876px;">
    <section class="content-header">
      <h1>ЖК "Королевские сады"</h1>
      <ul class="breadcrumb">
        <li>
          <a href="/admin/"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="/admin/house/index">Дома</a>
        </li>
        <li class="active">
          {{ house.title }}
          <li>
          </ul>
        </section>
        <section class="content">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <div class="box-tools">
                <a href="{% url 'admin:update_house' house.id %}"
                   class="btn btn-primary btn-sm">
                  <span class="hidden-xs">Редактировать дом</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-lg-4">
                  <table class="table table-bordered table-striped table-view">
                    <tbody>
                      <tr>
                        <td>Название</td>
                        <td>{{ house.title }}</td>
                      </tr>
                      <tr>
                        <td>Адрес</td>
                        <td>{{ house.address }}</td>
                      </tr>
                      <tr>
                        <td>Секций</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Этажей</td>
                        <td>{{ num_floors }}</td>
                      </tr>
                      <tr>
                        <td>Пользователи</td>
                        <td>
                          <p class="no-margin">
                            {% for staff in staff_list %}
                              <p class="no-margin">{{ staff.user.get_full_name }} ({{ staff.role }})</p>
                            {% empty %}
                              <p class="no-margin">Нет сотрудников</p>
                            {% endfor %}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-xs-12 col-lg-8">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      {% if house.image1 %}
                        <img class="img-responsive largeImg margin-bottom-30"
                             src="{{ house.image1.url }}?w=522&h=350&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive largeImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=522&h=350&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                      {% if  house.image2 %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{{ house.image2.url }}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                      {% if  house.image3 %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{{ house.image3.url }}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                      {% if  house.image4 %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{{ house.image4.url }}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-3">
                      {% if  house.image5 %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{{ house.image5.url }}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% else %}
                        <img class="img-responsive smallImg margin-bottom-30"
                             src="{% static 'img.png' %}?w=248&h=160&fit=crop"
                             alt="Аватар" />
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {% endblock %}
