<div class="row">
  <div class="col-xs-12 col-lg-8">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab-sections" data-toggle="tab" aria-expanded="true">Секции</a>
        </li>
        <li>
          <a href="#tab-floors" data-toggle="tab" aria-expanded="false">Этажи</a>
        </li>
        <li>
          <a href="#tab-houseuseradmins" data-toggle="tab" aria-expanded="false">Пользователи</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active clearfix" id="tab-sections">
          <div id="form-section-rows"></div>
          <button class="btn btn-success pull-right form-row-add-section-btn"
                  type="button">Добавить</button>
        </div>
        <div class="tab-pane clearfix" id="tab-floors">
          <div id="form-floor-rows"></div>
          <button class="btn btn-success pull-right form-row-add-floor-btn"
                  type="button">Добавить</button>
        </div>
        <div class="tab-pane clearfix" id="tab-houseuseradmins">
          <div id="form-houseuseradmin-rows"></div>
          <button class="btn btn-success pull-right form-row-add-houseuseradmin-btn"
                  type="button">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</div>
