{% extends "base.html" %}

{% load static %}

{% block seo %}
  <!-- SEO по умолчанию -->
  <title>{{ about.seo.title }}</title>
  <meta name="description" content="{{ about.seo.description }}" />
  <meta name="keywords" content="{{ about.seo.keyword }}" />
{% endblock seo %}
{% block content %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="active">О нас</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box clearfix">
            <div class="page-header">
              <h1>{{ about.title }}</h1>
            </div>
            <img src="{{ about.image.url }}"
                 class="img-responsive imgFloatRight"
                 alt="Изображение о нашей миссии" />
            {{ about.description|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "gallery/main_gallery.html" %}
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box clearfix">
            <div class="page-header">
              <h3>{{ about.title2 }}</h3>
            </div>
            {{ about.description2|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "gallery/gallery2.html" %}
  <div class="documents">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="page-header">
              <h3>Документы</h3>
            </div>
            {% for doc in about.documents.all %}
              <div class="media">
                <div class="media-left">
                  <div class="media-object">
                    {% if doc.document.url|lower|slice:"-4:" == ".pdf" %}
                      <i class="far fa-file-pdf fa-3x"></i>
                    {% else %}
                      <i class="far fa-file fa-3x"></i>
                    {% endif %}
                  </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ doc.title }}</h4>
                  <a href="{{ doc.document.url }}" download>
                    <i class="fa fa-download" aria-hidden="true"></i> Скачать
                  </a>
                </div>
              </div>
            {% empty %}
              <p>Документы пока не добавлены.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
