{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon"
          type="image/png"
          href="https://myhouse24.demodev.cc/favicon.png" />
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token"
          content="1fXDycHHr_BxD284-eQ8n4Ge12NJca13ispDezjfK4K4tqiDuYzavAdGImieglv1zNetJnwA5BWzmScZTbNfxg==" />
    {% block seo %}
      <!-- SEO по умолчанию -->
      <title>Мой сайт</title>
      <meta name="description" content="Описание по умолчанию" />
      <meta name="keywords" content="ключевые, слова" />
    {% endblock seo %}
    <link href="{% static 'admin/css/fontawesome-all.min.css' %}"
          rel="stylesheet" />
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/js/simplelightbox/simplelightbox.min.css' %}"
          rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64276279-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-64276279-2');
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#menuBtn"
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main' %}">
            <img src="{% static 'admin/logo.svg' %}" alt="Demo CRM 24" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="menuBtn">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="{% url 'main' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a href="{% url 'about' %}">О нас</a>
            </li>
            <li>
              <a href="{% url 'services' %}">Услуги</a>
            </li>
            <li>
              <a href="{% url 'tariffs' %}">Тарифы</a>
            </li>
            <li>
              <a href="https://avada-media.ua/moydom24/">Условия приобретения</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">Контакты</a>
            </li>
            <li>
              <a href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i> Вход
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <p class="text-muted">
              Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>.
              На базе системы управления
              <a href="https://avada-media.ua/moydom24/">"МойДом24"</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'admin/assets/137cc266/jquery.js'%}"></script>
    <script src="{% static 'admin/assets/4da2ea81/yii.js'%}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'admin/js/slick.min.js'%}"></script>
    <script src="{% static 'admin/js/main.js'%}"></script>
    <script src="{% static 'admin/js/simplelightbox/simple-lightbox.min.js'%}"></script>
  </body>
</html>
