{% extends "index.html" %}

{% block content %}
<div class="content-wrapper" style="min-height: 839px;">
  <section class="content-header">
    <h1>Редактирование услуг</h1>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-body">
        <form id="w0" action="{% url 'admin:service' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-12 col-lg-7">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_service" data-toggle="tab">Услуги</a></li>
                  <li><a href="#tab_serviceunit" data-toggle="tab">Единицы измерения</a></li>
                </ul>
                <div class="tab-content">

                  <!-- Tab 1: Services -->
                  <div class="tab-pane active" id="tab_service">
                    {{ formset1.management_form }}
                    <div id="form-service-rows">
                      {% for form in formset1 %}
                        <div id="form-service-{{ forloop.counter0 }}" class="row form-service">
                          <div class="col-xs-12 col-sm-7">
                            {{ form.id }}
                            <div class="form-group">
                              {{ form.name.label_tag }}
                              {{ form.name }}
                            </div>
                          </div>

                          <div class="col-xs-12 col-sm-5">
                            <div class="form-group">
                              {{ form.unit.label_tag }}
                              <div class="input-group">
                                {{ form.unit }}
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default form-service-remove-btn">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-xs-12">
                            {{ form.is_show }}
                            {{ form.is_show.label_tag }}
                          </div>

                          <div style="display:none;">{{ form.DELETE }}</div>
                        </div>
                      {% endfor %}
                    </div>
                    <hr>
                    <button type="button" class="btn btn-default btn-hover-change pull-left form-row-add-service-btn">
                      Добавить
                    </button>
                  </div>

                  <!-- Tab 2: Units -->
                  <div class="tab-pane" id="tab_serviceunit">
                    {{ formset2.management_form }}
                    <div id="form-unit-rows">
                      {% for form in formset2 %}
                        <div class="form-group form-unit">
                          {{ form.id }}
                          {{ form.name.label_tag }}
                          <div class="input-group">
                            {{ form.name }}
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default form-unit-remove-btn{% if form.instance and form.instance.protected %} disabled{% endif %}"
                                      {% if form.instance and form.instance.protected %}no-delete-msg="Эта ед.изм. используется в услуге. Удаление невозможно."{% endif %}>
                                <i class="fa fa-trash"></i>
                              </button>
                            </span>
                          </div>
                          <div style="display:none;">{{ form.DELETE }}</div>
                        </div>
                      {% endfor %}
                    </div>
                    <button type="button" class="btn btn-default btn-hover-change pull-left form-row-add-serviceunit-btn">
                      Добавить
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Submit buttons -->
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="form-group">
                <a href="{% url 'admin:service' %}" class="btn btn-default">Отменить</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<!-- Empty templates for JS cloning -->
<div id="empty_form_template" style="display: none;">
  <div class="row form-service">
    <div class="col-xs-12 col-sm-7">
      {{ formset1.empty_form.id }}
      <div class="form-group">
        {{ formset1.empty_form.name.label_tag }}
        {{ formset1.empty_form.name }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-5">
      <div class="form-group">
        {{ formset1.empty_form.unit.label_tag }}
        <div class="input-group">
          <select name="services-__prefix__-unit" class="form-control">
            {% for unit in units %}
              <option value="{{ unit.id }}">{{ unit.name }}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default form-service-remove-btn">
              <i class="fa fa-trash"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      {{ formset1.empty_form.is_show }}
      {{ formset1.empty_form.is_show.label_tag }}
    </div>

    <div style="display:none;">{{ formset1.empty_form.DELETE }}</div>
  </div>
</div>

<div id="empty_form_unit_template" style="display: none;">
  <div class="form-group form-unit">
    <input type="hidden" name="units-__prefix__-id" value="">
    {{ formset2.empty_form.name.label_tag }}
    <div class="input-group">
      <input type="text" name="units-__prefix__-name" class="form-control" value="">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default form-unit-remove-btn">
          <i class="fa fa-trash"></i>
        </button>
      </span>
    </div>
    <input type="checkbox" name="units-__prefix__-DELETE" style="display:none;">
  </div>
</div>

<!-- JS for adding/removing forms -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {

  // --- Удаление услуг ---
  $(document).on('click', '.form-service-remove-btn', function() {
    var formRow = $(this).closest('.form-service');
    var deleteField = formRow.find('input[type=checkbox][name$="-DELETE"]');
    if (deleteField.length) {
      deleteField.prop('checked', true);
      formRow.hide();
    } else {
      formRow.remove();
    }
  });

  // --- Удаление единиц ---
  $(document).on('click', '.form-unit-remove-btn', function() {
    if ($(this).is(':disabled') && $(this).attr('no-delete-msg')) {
      alert($(this).attr('no-delete-msg'));
      return;
    }
    var formRow = $(this).closest('.form-unit');
    var deleteField = formRow.find('input[type=checkbox][name$="-DELETE"]');
    if (deleteField.length) {
      deleteField.prop('checked', true);
      formRow.hide();
    } else {
      formRow.remove();
    }
  });

  // --- Добавление формы услуг ---
  $('.form-row-add-service-btn').click(function() {
    var totalForms = $('#id_services-TOTAL_FORMS');
    var formIndex = parseInt(totalForms.val());
    var emptyForm = $('#empty_form_template').html().replace(/__prefix__/g, formIndex);
    $(this).prev('hr').before(emptyForm);
    totalForms.val(formIndex + 1);
  });

  // --- Добавление формы единиц ---
  $('.form-row-add-serviceunit-btn').click(function() {
    var totalForms = $('#id_units-TOTAL_FORMS');
    var formIndex = parseInt(totalForms.val());
    var emptyForm = $('#empty_form_unit_template').html().replace(/__prefix__/g, formIndex);
    $(this).before(emptyForm);
    totalForms.val(formIndex + 1);
  });

});
</script>
{% endblock %}
